.styledButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-style: solid;

    &::after {
        content: "";
        display: block;
        width: 280px;
        height: 70px;

        border-radius: 32px;

        z-index: -1;
        position: absolute;
        left: -8px;
        top: 8px;
    }

    height: 70px;

    &::after {
        width: 240px;
        height: 78px;

        border-radius: 20px;
    }

    width: 280px;
    height: 70px;
    border-radius: 20px;
    border-width: 5px;
    font-size: 22px;
    font-weight: 700;

    &:before {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 15%;
        width: 20%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        transform: skewX(-30deg);
        transition: 0.3s;
    }

    &:hover:before {
        left: 65%;
        background: rgba(255, 255, 255, 0.5);
    }
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("/registration/backgrounds/pro_track_challenge.svg");
    background-size: cover; /* Ensures the image covers the entire div height and width */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from tiling */
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.foreground {
    position: absolute;
    pointer-events: none;
    z-index: 5;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 1152px) {
        width: 2048px;
        transform: translateX(calc(-50% + 50vw));
    }
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;
    margin-left: 23%;
    margin-right: 19%;
    margin-top: 12%;
    overflow-y: scroll;
    @media (max-width: 1152px) {
        margin-left: 8%;
        margin-right: 5%;
        margin-top: 20%;
        margin-bottom: 12%;
    }
    @media (max-width: 768px) {
        padding-top: 150px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        margin-bottom: 15%;
        gap: 20px;
    }

    a {
        font-weight: bold;
        text-decoration: underline;
    }
}

.footerButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: 9%;
    z-index: 6;

    margin-left: 22%;
    margin-right: 17%;

    @media (max-width: 1000px) {
        padding-right: 30px;
        margin-left: 8%;
        margin-right: 5%;
    }

    @media (max-width: 768px) {
        padding: 0 30px;
        margin-left: 5%;
        margin-right: 5%;
        gap: 20px;
    }

    @media (max-width: 500px) {
        padding: 0 30px;
        margin-left: 0px;
        margin-right: 0px;
        gap: 10px;
    }
}

.container > .block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container ul > li {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.container h1 {
    position: relative;
    z-index: 4;
}

.container .link {
    position: relative;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #004561;
}

.container .contentGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.finishedChallenge {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.codeText {
    color: #b3d689;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 0.5rem;
}

.error {
    color: red;
}

.marginLeft {
    margin-left: 1rem;
}

caption.text {
    margin-bottom: 8px;
}
