.button {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    width: fit-content;
    padding: 1.5rem 1.75rem;
    border-radius: 2.5rem;

    transition: filter 0.2s ease;

    .text {
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2rem;
    }
}

.button:active {
    transform: scale(0.98);
}

.button:hover {
    filter: brightness(90%);
}

.compactButton {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    width: fit-content;
    padding: 1rem 2.5rem;
    border-radius: 2.5rem;

    transition: filter 0.2s ease;

    .text {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
    }

    &:active {
        transform: scale(0.98);
    }

    &:hover {
        filter: brightness(90%);
    }
}
