.navbar {
    padding: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 600px) {
        padding: 12px;
    }
}

.hackillinois-logo {
    width: 32px;

    @media screen and (max-width: 750px) {
        max-width: 30px;
    }

    &.mobile {
        transform: translateX(150%);
    }
}

.mlh-logo {
    z-index: 3;
    position: fixed;
    width: 92px;
    top: 0px;
    right: 32px;

    @media screen and (max-width: 750px) {
        // max-width: 60px;
    }

    &.mobile {
        z-index: 3;
        position: fixed;
        width: 64px;
        top: 0px;
        right: 32px;
    }
}

.joinButton {
    background: #68c8bf;
    color: white;
    border-radius: 30px;
    border: 1px solid #68c8bf;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;

    &:active {
        transform: scale(0.98);
    }

    &:hover {
        filter: brightness(95%);
    }

    @media screen and (max-width: 750px) {
        font-size: 15px;
    }

    @media screen and (max-width: 500px) {
        font-size: 10px;
    }
}

.joinButton:hover {
    cursor: pointer;
}

.links {
    position: relative;
    display: flex;

    .link {
        position: relative;
        text-decoration: none;
        color: #313332;
        font-weight: 700;
        font-size: 20px;

        &:not(:last-child) {
            margin-right: 90px;

            @media screen and (max-width: 850px) {
                margin-right: 45px;
            }

            @media screen and (max-width: 500px) {
                margin-right: 30px;
            }
        }

        @media screen and (max-width: 750px) {
            font-size: 15px;
        }

        @media screen and (max-width: 500px) {
            font-size: 10px;
        }
    }
}

.link::before,
.link.active::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 50%;
    height: 0;
    width: 0%;
    border-bottom: 2px solid #000000;
    transition: width 0.3s ease;
}

.link::after,
.link.active::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 0;
    width: 0%;
    border-bottom: 2px solid #000000;
    transition: width 0.3s ease;
}

.link:hover::after,
.link:hover::before {
    width: 50%;
}

.link.active::before,
.link.active::after {
    width: 50%;
}

.mobile {
    display: none;
    margin: auto;
    align-items: center;
    position: relative;

    .link::before,
    .link.active::before {
        border-bottom: 2px solid white;
    }

    .link::after,
    .link.active::after {
        border-bottom: 2px solid white;
    }
}

@media screen and (max-width: 900px) {
    .navbar {
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: column;
    }
}

.mobileTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 35px 25px;
    transform: rotate(0deg) scale(0.5);
    transition: 0.5s ease-in-out;
    z-index: 1001;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: #fba036;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;

        &:nth-child(1) {
            top: 0px;
            transform-origin: left center;
        }

        &:nth-child(2) {
            top: 18px;
            transform-origin: left center;
        }

        &:nth-child(3) {
            top: 36px;
            transform-origin: left center;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: -3px;
                left: 8px;
            }

            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 39px;
                left: 8px;
            }
        }
    }
    // Hamburger menu code assisted by https://codepen.io/designcouch/pen/ExvwPY
}

.mobileMenu {
    // display: none;
    margin-top: -150%;
    position: absolute;
    background-color: #95d8d2;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    padding-top: 60px;
    height: 50vh;
    z-index: 1000;
    transition: margin-top 0.7s ease;

    a {
        position: relative;
        font-size: x-large;
        color: white;
        text-decoration: none;
    }

    &.menuOpen {
        margin-top: 0;
    }
}
