.page {
    overflow-x: hidden;
}

.logo-div {
    // position: relative;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    overflow-y: hidden;

    .content {
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 15vh;
    }
}

.section-div {
    margin-top: 10%;
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    // overflow-y: auto;
    // padding-left: 5%;
    // padding-right: 5%;
}

.section-div.centered {
    justify-content: center;
}

.section-div.no-top-margin {
    margin-top: 0;
}

.our-mission-div {
    margin-top: 10%;
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: -15rem;
    // overflow-y: auto;
    // padding-left: 5%;
    // padding-right: 5%;

    @media screen and (max-width: 1000px) {
        margin-bottom: 0rem;
    }
}

.textbox {
    width: auto;
    display: flex;
    flex-direction: row;
    height: fit-content;

    @media screen and (max-width: 650px) {
        flex-direction: column-reverse;
    }
}

.p-text {
    margin-top: 15px;
    font-size: 20px;
    height: fit-content;
}

.tilted-hack {
    // max-width: 16%;
    height: 100%;
    margin-left: 13%;
    margin-right: 5%;
    transform: translateY(-20%);

    @media screen and (max-width: 750px) {
        // width: 40%;
        // margin-left: 35%;
        // transform: translateY(0%);
        display: none;
    }
}

.our-mission {
    width: 50vw;
    transform: translateY(-50%);

    @media screen and (max-width: 650px) {
        width: 80%;
        transform: translateY(0%);
    }
}

.dots-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
}

.icon-div {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;
}

.text-div {
    z-index: 3;
    margin-top: 50px;
    position: relative;
    width: 60%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 28.76px;

    @media screen and (max-width: 400px) {
        font-size: 1rem;
    }
}

.main-logo {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
}

.dots {
    z-index: 2;
    margin-top: 10%;
    width: 40%;
}

.dotsTwo {
    z-index: 2;
    margin-top: 21%;
    width: 40%;
}

.dotsThree {
    z-index: 2;
    margin-top: 32%;
    width: 40%;
}

.iconPosition {
    z-index: 2;
    margin-top: 10%;
    width: 90%;
    @media screen and (max-width: 800px) {
        width: 80%;
    }
}
