.footer {
    //  position: relative;
    // margin-top: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;

    > div:nth-child(1) {
        background-color: #b4e4df;
        padding: 2.5rem 5%; // Container has 5% left-right padding as well
        display: flex;
        justify-content: space-between;

        > div {
            display: flex;
            flex-direction: column;

            > span:nth-child(1) {
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1.875rem;
            }

            > span:nth-child(2) {
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 1.5rem;
            }

            > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 1.75rem;
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.5rem;
                margin-top: 1rem;

                .linkText {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    > div:nth-child(2) {
        background-color: #168277;
        padding: 1.25rem 5%; // Container has 5% left-right padding as well
        display: flex;
        align-items: center;
        column-gap: 3rem;

        > span {
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.25rem;
            color: #fff;
        }

        > a > span {
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.25rem;
            color: #fff;
            text-decoration: underline;
        }

        // > span:nth-child(2) {
        //     text-decoration: underline;
        // }
    }
}

.icon {
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width: 640px) {
    .footer {
        > div:nth-child(1) {
            > div {
                > span:nth-child(1) {
                    font-size: 1.25rem;
                }

                > span:nth-child(2) {
                    font-size: 1rem;
                }
                > div {
                    align-items: flex-start;
                    column-gap: 0.25rem;
                    font-size: 0.875rem;
                    margin-top: 1rem;
                }
            }
        }
        > div:nth-child(2) {
            > div {
                > span:nth-child(1) {
                    font-size: 1.25rem;
                }

                > span:nth-child(2) {
                    font-size: 1rem;
                }
                > div {
                    align-items: flex-start;
                    column-gap: 0.25rem;
                    font-size: 0.875rem;
                    margin-top: 1rem;
                }
            }
        }
    }
    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}
